<div class="hero-list">
  <!--
  TODO 220: Iterate using `@for` to create as many `app-hero-item` components as
  there are heroes in the `heroes` array.

  Additionally, if no heroes exist, a message indicating that no heroes are available should be displayed.
-->
  <app-hero-item [hero]="heroes[0]" (powerstatsChange)="savePowerstats($event)"/>
  <app-hero-item [hero]="heroes[1]" (powerstatsChange)="savePowerstats($event)"/>
  <app-hero-item [hero]="heroes[2]" (powerstatsChange)="savePowerstats($event)"/>
</div>
