<div [class]="isHeroVillain() ? 'hero-item hero-villain' : 'hero-item '">
  <div class="image">
    <img [src]="hero().image" />
  </div>
  <div class="details">
   <div class="hero-name">
        <!-- TODO 223: If the hero is a villain, include the following emoji 🦹 next to their name. Otherwise, display this emoji 🦸. -->
       {{hero().name}}
    </div>
    <!-- TODO 221: Iterate over all the powerstats of each hero so that the same HTML code doesn't need to be repeated for each property.
         Hint: Transform the `powerstats` object into an array using the `keyvalue` pipe.
    -->

    <!-- TODO 222: Use the `titlecase` pipe to transform the name of each powerstat so it starts with an uppercase letter (TODO 221 must be completed first). -->
    <div class="hero-powerstats">
      <span
        >Intelligence:
         {{hero().powerstats.intelligence}}
      </span>
      <div class="hero-powerstats-buttons">
        <button [disabled]="hero().powerstats.intelligence === 0" (click)="decrementPowerStats('intelligence')">-</button>
        <button [disabled]="hero().powerstats.intelligence === 100" (click)="incrementPowerStats('intelligence')">+</button>
      </div>
    </div>
    <div class="hero-powerstats">
      <span>Strength: {{ hero().powerstats.strength }}</span>
      <div class="hero-powerstats-buttons">
        <button [disabled]="hero().powerstats.strength === 0" (click)="decrementPowerStats('strength')">-</button>
        <button [disabled]="hero().powerstats.strength === 100" (click)="incrementPowerStats('strength')">+</button>
      </div>
    </div>
    <div class="hero-powerstats">
      <span> Speed: {{ hero().powerstats.speed }}</span>
      <div class="hero-powerstats-buttons">
        <button [disabled]="hero().powerstats.speed === 0" (click)="decrementPowerStats('speed')">-</button>
        <button [disabled]="hero().powerstats.speed === 100" (click)="incrementPowerStats('speed')">+</button>
      </div>
    </div>
    <div class="hero-powerstats">
      <span>Durability: {{ hero().powerstats.durability }}</span>
      <div class="hero-powerstats-buttons">
        <button [disabled]="hero().powerstats.durability === 0" (click)="decrementPowerStats('durability')">-</button>
        <button [disabled]="hero().powerstats.durability === 100" (click)="incrementPowerStats('durability')">+</button>
      </div>
    </div>
    <div class="hero-powerstats">
      <span>Power: {{ hero().powerstats.power }}</span>
      <div class="hero-powerstats-buttons">
        <button [disabled]="hero().powerstats.power === 0" (click)="decrementPowerStats('power')">-</button>
        <button [disabled]="hero().powerstats.power === 100" (click)="incrementPowerStats('power')">+</button>
    </div>
    </div>
    <div class="hero-powerstats">
      <span>Combat: {{ hero().powerstats.combat }}</span>
      <div class="hero-powerstats-buttons">
         <button [disabled]="hero().powerstats.combat === 0" (click)="decrementPowerStats('combat')">-</button>
        <button [disabled]="hero().powerstats.combat === 100" (click)="incrementPowerStats('combat')">+</button>
    </div>
  </div>
</div>
