
<!-- TODO 502: Remove the hero-page class and create the following rules using Tailwind:
 - grid: Converts the container into a grid layout, allowing items to be arranged in rows and columns.
 - min-h-screen: Sets the minimum height of the container to 100% of the viewport height.
 - grid-rows-[auto_1fr_auto]: Defines three rows in the grid:
   - The first row has automatic height (adjusts to the content).
   - The second row takes up the remaining space (1fr).
   - The third row also has automatic height.
 - grid-cols-2: Defines the grid to have 2 columns.
 - max-w-screen-2xl: Sets a maximum width for the container, equivalent to the "2xl" screen size (around 1536px).
 - justify-between: Distributes the items along the main axis (horizontal by default) with the maximum possible space between them.
 - mx-auto: Applies automatic margins on the left and right, centering the container horizontally.
 - p-4: Applies 1rem (16px) padding on all sides of the container.
-->
<div class="grid min-h-screen grid-rows-[auto_1fr_auto] grid-cols-2 max-w-screen-2xl justify-between mx-auto pt-4">
  <!-- TODO 501: Include the header and footer components -->
  <app-header class="col-span-3"/>
  <app-hero-list [heroes]="heroes" class="col-span-2" />
  <app-hero-new (add)="addHero($event)" class="col-span-1"/>

  <!-- TODO 501: Include the header and footer components -->
  <app-footer class="col-span-3" />
</div>

